html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: Tahoma, Arial, sans-serif;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
main{
	background-color: #00749b;
    background-image: url(../images/background.jpg);
    background-repeat: repeat-x;
    background-size: 1280px;
    background-position: top center;
	background-position-y: -38px;
    min-height: 100vh;
    max-height: max-content;
    display: flex;
    flex-direction: column;
}
.page{
	margin-left: 140px;
  	margin-right: 140px;
  	max-width: 1000px;
	max-height: max-content;
  	margin-left: auto;
  	margin-right: auto;
	background: #ffffff;
	box-shadow: 0px 4px 8px -2px
}
.container{
	max-height: 175px;
	padding: 11px 33px 9px 28px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.container .logo {
	position: relative;
	margin-bottom: -11px;
  }
  .container .logo img {
	max-width: 100%;
  }
  .container .logo .title {
	font-size: 12px;
	line-height: 1.2;
	font-weight: 400;
	color: #128aa7;
	position: absolute;
	bottom: 53px;
	left: 72px;
  }
.container-right{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}
.contacts {
	opacity: 0.8;
	font-size: 12px;
	line-height: 1.2;
	font-weight: 700;
	color: #128aa7;
  }
.contacts a {
	font-weight: 400;
	color: #128aa7;
	text-decoration: none;
	transition: .3s;
	display: block;
	transform-origin: left;
	padding: 1px 0px;
  }
.contacts a:hover {
	transform: scale(1.1);
  }
.flags {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	margin-left: 0px;
	margin-right: 0px;
  }
  .flags-item {
	margin: 0px 5.5px;
	position: relative;
	transition: .3s;
  }
  .flags-item img {
	max-width: 100%;
  }
  .flags-item .title {
	font-size: 10px;
	line-height: 1.2;
	font-weight: 400;
	text-decoration: underline;
	color: #128aa7;
	display: block;
	text-align: center;
  }
.foto{
	max-width: 1000px;
	max-height: 239px;
	}
	.foto img{
	max-width: 100%;
	border-top: 1px solid #128aa7;
	border-bottom: 1px solid #128aa7;
	background-repeat: no-repeat;
  	background-position: center;
	}
.center-panel{
	position: relative;
    max-height: 34px;
    background: linear-gradient(0deg, rgb(48,48,48,100) 0%, rgba(55,55,55,100) 100%);
    border-top: 1px ridge #cacbcb;
	border-bottom: 1px solid rgba(0,0,0,0.75);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
	z-index: 1;
	}
	ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	}
		li a {
			color: #ffffff;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.2;
			text-decoration: none;
			text-align: center;
			margin: 0px 10px;
			height: 29px;
			line-height: 29px;
			}
			.hover{
				border-right: 1px solid transparent;
				border-left: 1px solid transparent;
			}
			.hover:hover{
				color: #ffffff;
				background: linear-gradient(0deg, rgba(47,47,47,1) 0%, rgba(74,74,74,1) 100%);
				border-left: solid 1px #838383;
				border-right: solid 1px #838383;
				cursor: pointer;
				}                      
			i {
				position: relative;
				top: 12px;
				left: 7px;
				width: 0px; 
				height: 0px;
				border-left: 2.5px solid transparent;
				border-right: 2.5px solid transparent;
				border-top: 6px solid #ffffff;
			}	
		.item{
			position: absolute;
			top: 100%;
			padding-bottom: 6px;
			display: none;
			border-top: 1px solid rgba(0,0,0,0.75);
			background-color: #303030;
			box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
			}
			.item li{
				width: 150px;
				}
			.item a{
				text-align: left;
				line-height: 24px;
				height: 24px;
				}
		.center-panel ul li:hover .item{
			display: block;
		}
.content {
	max-width: 1000px;
	height: max-content;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	}
	.left {
		width: 21%;
		background-color: #edeef0;
		border-right: 1px solid #c7cacf;
		padding: 13px 24px 0px 15px;
	}
	.center {
		width: 58%;
		padding: 13px 15px;
	}
	.right {
		width: 21%;
		background-color: #edeef0;
		border-left: 1px solid #c7cacf;
		padding: 13px 23px 13px 16px;
		}
	h3{
		font-size: 18px;
		line-height: 1.2;
		font-weight: 700;
		color: #424c43;
		text-align: center;
		padding-bottom: 8px;
		}
	p{
		font-size: 14px;
		line-height: 24px;
		font-weight: 400;
		color: #424c43;
		}
.footer {
  	text-align: center;
  	padding: 8px 0px 11px 0px;
  	text-align: center;
  	margin-top: auto;
}
.footer p {
	opacity: 0.8;
	font-size: 12px;
	line-height: 1.2;
	font-weight: 400;
	color: #ffffff;
}
