html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: Tahoma, Arial, sans-serif;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
a{
	text-decoration: none;
}
button{
	background: none;
	border: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.content{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	align-items: center;
	max-width: 2400px;
	}
	.header{
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 960px;
		margin-top: 70px;
		}
		.header-logo{
			display: inline-flex;
			font-family: 'League Gothic';
			font-size: 48px;
			line-height: 33px;
			font-weight: 400;
			text-shadow: 0px 2px 2px rgba(0,0,0,0.3);
			color: #ffffff;
			}
			.header-logo h1{
				color: transparent;
				-webkit-background-clip: text;
				background-clip: text;
				background-image: linear-gradient(0.0deg, #322539 0%, #745083 100%);
				font-family: 'League Gothic';
				font-size: 48px;
				line-height: 33px;
				font-weight: 400;
			}
		.header-main{
			width: 632px;
			/* height: 21px; */
			}
			.header-main ul{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}
			.header-logo li{

			}
			.header-main a{
				font-family: 'League Gothic';
				font-size: 24px;
				line-height: 33px;
				font-weight: 400;
				text-transform: uppercase;
				text-shadow: 1px 2px 2px rgba(0,0,0,0.4);
				color: #ffffff;
				position: relative;
				cursor: pointer;
				}
				.header-main a:after{
					display: block;
					position: absolute;
					left: 0;
					width: 0;
					height: 2px;
					background-color: #edbfff;
					content: '';
					transition: width 0.3s ease-out;
				}
				.header-main a:hover:after,
				.header-main a:focus:after {
					width: 100%; 
				}
	@media (max-width: 768px){
		.header{
			flex-direction: column;
			margin-left: 21px;
			width: 635px;
		}
		.header-main{
			margin-top: 36px;
		}
	}
	@media (min-width:481px) {
		.dropdown{
			display: none;
		}
	}
	@media (max-width: 480px){
		.header{
			margin-left: 0;
			width: 480px;
			align-items: center;
			}
			.header .header-main{
				display: none;
			}
			.dropbtn {
				width: 246px;
				height: 47px;
				font-family: 'League Gothic';
				font-size: 24px;
				line-height: 42px;
				font-weight: 400;
				color: #ffffff;
				opacity: 0.9;
				background-color: #36293e;
				border: 1px solid #051116;
				border-radius: 8px;
				box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2);
			    cursor: pointer;
				margin-top: 25px;
			}
			.dropdown {
    			position: relative;
    			display: inline-block;
			}
			.dropdown-content {
			    display: none;
			    position: absolute;
			    background-color: #f1f1f1;
			    min-width: 160px;
			    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			    opacity: 0.9;
				background-color: #35273d;
				border: 1px solid #051116;
				border-radius: 8px;
				box-shadow: inset 0px -1px 0px 0px rgba(105,82,114,0.58);
				z-index: 1;
				text-align: center;
			}
			.dropdown-content a {
				font-family: 'League Gothic';
				font-size: 24px;
				line-height: 42px;
				font-weight: 400;
				color: #ffffff;
				width: 244px;
				height: 47px;
			    display: block;
			}
			.dropdown-content a:hover {
				border-bottom: 2px solid #edbfff;
			}
			.show {
				display:block;
			}
	}
	@media (max-width: 320px){
		.header{
			align-items: center;
			width: 320px;
			margin-left: 0px;
			}
		.header .header-main{
			display: block;
			width: 52px;
			}
		.header-main ul{
			justify-content: center;
		}
		.header-main>ul>li{
			display: none;
		}
		.header-main>ul>li:first-child{
			display: block;
		}
		.dropdown{
			display: none;
		}
	}
	.arrows{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		max-width: 2400px;
		width: 100%;
		height: 400px;
		background: rgba(0, 0, 0, 0.2);
		margin: 172px auto;
		margin-bottom: 0;
	}
	.arrow-left::before{
		content: '';
		border: solid #ffffff;
		border-width: 0 10px 10px 0;
		display: inline-block;
		padding: 8px;
		transform: rotate(135deg);
		-webkit-transform: rotate(135deg);
		border-radius: 10%;
		cursor: pointer;
	} 
	.arrow-right::after{
		content: '';
		border: solid #ffffff;
		border-width: 0 10px 10px 0;
		display: inline-block;
		padding: 8px;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		border-radius: 10%;
		cursor: pointer;
	}
	.content-slider{
		display: flex;
		flex-direction: row;
		align-items: center; /*vertical*/
		justify-content: center;
		width: 960px;
		}
		.slider-text{
			height: 280px;
			width: 502px;
			margin: 35px 0 0 8px;
			/* word-wrap: break-word; */
			}
			.slider-text h2{
				font-family: 'League Gothic';
				font-size: 60px;
				/* line-height: 36px; */
				font-weight: 400;
				text-shadow: 0px 2px 2px rgba(0,0,0,0.3);
				color: #fefefe;
				padding-bottom: 4px;
			}
			.slider-text h4{
				font-family: 'League Gothic';
				/* line-height: 57px; */
				 font-size: 32px;
				 color: #edbfff;
				padding-bottom: 10px;
			}
			.slider-text p{
				 font-family: 'Open Sans';
				 font-size: 18px;
				 line-height: 23px;
				 font-weight: 300;
				 color: #ffffff;
				letter-spacing: -0.025em;
			}
		.flex-slider{
			width: 343px;
			height: 436px;
			margin: 40px 0 0 125px;
			}
			.slider-cards{
				/* margin-bottom: 55px; */
				/* margin-left: 115px; */
				/* position:relative; */
				width: 276px;
				height: 100%;/* 436px; */
				display: flex;
				flex-direction: row;
				align-items: center;
				}
				.phone-background{
					width: 130px;
					height: 268px;
					margin-bottom: 50px;
					/* position:absolute; */
					/* margin-right: 213px; */
				}
				.phone-foreground{
					width: 197px;
					height: 434px;
					position:absolute;
					margin: -20px 69px 0 78px;
					}
					.circle1{
					margin-left: 138px;
					margin-bottom: 100px;
					position: absolute;
					width: 76px;
					height: 76px;
					background-color: rgba(0,0,0,0.2);
					border-radius: 50%;
					}
					.circle2{
						margin: 3px 3px;
						position: absolute;
						width: 70px;
						height: 70px;
						background-color: rgba(0,0,0,0.1);
						border: 5px solid #46324f;
						border-radius: 50%;
						}
						.circle3{
							margin: 5px 5px;
							position: absolute;
							width: 50px;
							height: 50px;
							background-color: #cba5da;
							border: 2px solid #ffffff;
							border-radius: 50%;
							display: flex;
							flex-direction: row;
							justify-content: center;
							align-items: center;
							opacity: 0.8;
							}
							.triangle{
								width: 25px;
								height: 22px;
								margin-left: 15px;
								border: 10px solid transparent; 
								border-left: 20px solid #ffffff;
								border-radius: 16%;
							}
	@media (max-width: 1920px){
		.content-slider{
			width: 80%;
		}
	}
	@media (max-width: 959px){
		.content-slider{
			width: 100%;
		}
	}
	@media (max-width: 768px){
		.arrows{
			justify-content: space-between;
			margin-top: 71px;
		}
		.content-slider{
			justify-content: flex-start;
		}
		.slider-text{
			width: 274px;
			margin: 74px 0 0 6px;
		}
		.slider-text h2{
			font-size: 48px;
			letter-spacing: 0.5px;
		}
		.slider-text h4{
			font-size: 24px;
			height: 24px;
			margin-top: 6px;
			overflow: hidden;
		}
		.slider-text p{
			width: 276px;
			height: 110px;
			overflow: hidden;
			hyphens: auto;
			font-size: 16px;
			margin-top: 8px;
			line-height: 26px;
		}
		.flex-slider{
			width: 274px;
			margin: 25px 0 0 130px;
		}
	}
	@media (max-width: 480px){
		.arrows{
			margin-top: 28px;
			height: 246px;
			/* width: 480px; */
		}
		.arrow-left,
		.arrow-right{
			padding: 5px;
		}
		.content-slider{
			/* width: 480px; */
			justify-content: space-between;
		}
			.slider-text{
				width: 220px;
				height: 50px;
				margin: 0;
				overflow: hidden;
				}
				.slider-text h2{
					font-size: 36px;
					line-height: 24px;
				}
				.slider-text h4{
					font-size: 18px;
				}
				.slider-text p{
					display: none;
				}
			.flex-slider{
				margin: 0;
				margin-top: 80px;		
				/* margin: 80px 0 0 34px; */
				width: 193px;
				/* height: 305px; */
			}
			.slider-cards{
				width: 0;
			}
			.phone-background{
				height: 190px;
				width: auto;
			}
			.phone-foreground{
				height: 304px;
				width: 138px;
				margin-left: 52px;
				}
				.circle1{
					margin-left: 95px;
					margin-bottom: 80px;
					height: 52px;
					width: 52px;
					}
					.circle2{
						height: 46px;
						width: 46px;
						}
						.circle3{
							height: 34px;
							width: 34px;
							margin: 1px 1px;
						}
						.triangle{
							width: 16px;
							height: 18px;
							margin-left: 12px;
						 	border: 8px solid transparent; 
							border-left: 12px solid #ffffff;
							border-radius: 12%;
						}
	}
	@media (max-width: 320px){
		.arrows{
			background: transparent;
			justify-content: space-between;
			height: 183px;
			margin-top: 61px;
		}
		.content-slider{
			width: 210px;
			justify-content: flex-start;
			}
			.slider-text{
				width: 208px;
			}
			.flex-slider{
				display: none;
			}
	}
	.content-tabs {
		margin: 96px 0px 58px 570px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		font-size: 0;
		height: 17px;
		  	}
		 	.content-tabs>input[type="radio"] {
			  	display: none;
		  	}
		  	/* .tabs>div {
				display: none;
				border: 1px solid #e0e0e0;
				padding: 10px 15px;
				font-size: 16px;
		  	} */
		  	/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
		  	#tab-btn-1:checked~#content-1,
		  	#tab-btn-2:checked~#content-2,
			#tab-btn-3:checked~#content-3,
		  	#tab-btn-4:checked~#content-4 {
				display: block;
		  	}
		  	.content-tabs>label {
				text-align: center;
				vertical-align: middle;
				margin: 0 2.5px;
				background-color: rgba(0, 0, 0, 0.3);
				cursor: pointer;
				position: relative;
				display: inline-block;
				border-radius: 50%;
				width: 17px;
				height: 17px;
		  	}
		  	.content-tabs>label:not(:first-of-type) {
				border-left: none;
		  	}
		  	.content-tabs>input[type="radio"]:checked+label {
				background-color: #fff;
				border: 4px solid rgba(0, 0, 0, 0.8);
		  	}
	@media (max-width: 768px){
		.content-tabs{
			height: 118px;
			margin: 37px 0 0 400px;
		}
	}
	@media (max-width:480px) {
		.content-tabs{
			height: 80px;
			margin: 22px 0 0 50px;
		}
	}
	@media (max-width: 320px) {
		.content-tabs{
			margin: 0px;
			margin-top: 17px;

		}
	}
	.flex-blurbs{
		background-image: linear-gradient(0.0deg, #322539 0%, #745083 100%);
		border: 1px solid #000;
		width: 100%;
		max-width: 2400px;
		height: 342px; /* 357 */
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0;
		}
		.content-blurbs{
			width: 950px;
/* 			background-image: linear-gradient(0.0deg, #322539 0%, #745083 100%);
			border: 1px solid #000; */
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin: 25px 0 0 0px;
			}
			.blurbs{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				width: 277px;
				}
				.blurbs h4{
					font-family: 'League Gothic';
					font-size: 30px;
					line-height: 24px;
					font-weight: 400;
					text-shadow: 0px 1px 0px #0f1518;
					color: #ffffff;
				}
				.blurbs p{
					font-family: 'Open Sans';
					font-size: 16px;
					line-height: 24px;
					font-weight: 300;
					text-shadow: 0px 1px 0px #0f1518;
					color: #ffffff;
					margin-top: 10px;
					width: 230px;
				}
				.blurbs a{
					font-family: 'League Gothic';
					font-size: 18px;
					line-height: 24px;
					font-weight: 400;
					text-shadow: 0px 1px 0px #0f1518;
					color: #ffffff;
					margin: 16px 6px 13px 0;
					float: right;
					}
					.blurbs a:hover{
						text-shadow: 0px 0px 8px rgba(255,255,255,0.8);
					}
			.icon {
				fill: #ffffff;
				width: 35px;
				height: 35px;
				}
				.icon:hover{
					fill: #24b607;
				}
				.icon svg{
					width: 35px;
					height: 35px;
				}
	@media (max-width: 768px) {
		.flex-blurbs{
			/* width: 768px; */
		}
		.content-blurbs{
			width: 768px;
			justify-content: center;
			margin: 27px 0 0 0;
		}
		.blurbs{
			width: 202px;
			margin-left: 25px;
			margin-right: 25px;
		}
		.blurbs h4{
			opacity: 0.97;
			font-size: 24px;
		}
		.blurbs p{
			width: 153px;
			height: 138px;
			overflow: hidden;
			hyphens: auto;
			margin: 0;
		}
		.blurbs a{

		}
		.icon{
			margin-right: 20px;
		}
	}
	@media (max-width:480px) {
		.flex-blurbs{
			height: 598px;
			border: none;	
			}
			.content-blurbs{
				flex-direction: column;
				justify-content: space-between;
				width: 480px;
				margin: 0;
				}
				.blurbs{
					width: 425px;
					height: 130px;
					margin: 15px 0;
					}
					.blurbs p{
						width: 365px;
						height: 70px;
					}
					.blurbs a{
						margin-top: 16;
						
					}
	}
	@media (max-width: 320px) {
		.flex-blurbs{
			height: 598px;
			}
			.content-blurbs{
				margin: 0;
				width: 320px;
				height: 462px;
				}
				.blurbs{
					width: 264px;
					margin: 0;
					margin-right: 14px;
					}
					.blurbs p{
						width: 197px;
						height: 67px;
					}
	}
	.flex-center{
		background-color:#f9f9f9;
		height: 487px;
		/* margin: -15px 0 0 0; */
		}
		.content-center{
			display: flex;
			flex-direction: row;
			justify-content: center;
			width: 960px;
			/* height: 487px; */
			}
			.testimonials{
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 85px;
				}
				.foto{
					position: absolute;
					margin-top: 30px;
					margin-right: 420px;
				}
				.container{
					width: 451px;
					height: 314px;
					background-image: url(../images/layer_60_381.png);
					background-size: 100%;
					background-repeat: no-repeat;
					}
					.container h4{
						font-family: 'League Gothic';
						font-size: 30px;
						line-height: 24px;
						font-weight: 400;
						text-transform: uppercase;
						text-shadow: 0px 1px 0px #ffffff;
						color: #454545;
						/* display: inline-block; */
						margin: 45px 0 0 50px;
					}
					.container i{
						font-family: 'League Gothic';
						font-size: 30px;
						line-height: 24px;
						font-weight: 400;
						text-transform: uppercase;
						text-shadow: 0px 1px 0px #ffffff;
						color: #edbfff;
					}
					.container p{
						font-family: 'Open Sans';
						font-size: 16px;
						line-height: 24px;
						font-weight: 300;
						text-shadow: 0px 1px 0px #ffffff;
						color: #454545;
						margin: 10px 40px 0 47px;			
					}
				.testimonials-tabs {
					/* margin-left: px; */
					display: flex;
					flex-direction: row;
					justify-content: flex-end;
    				font-size: 0;
  					}
  					.testimonials-tabs>input[type="radio"] {
  						display: none;
  					}
  					/* .tabs>div {
  					  	display: none;
  					  	border: 1px solid #e0e0e0;
  					  	padding: 10px 15px;
  					  	font-size: 16px;
  					} */
  					/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
  					#tab-btn-5:checked~#content-5,
  					#tab-btn-6:checked~#content-6,
					#tab-btn-7:checked~#content-7,
  					#tab-btn-8:checked~#content-8 {
  					  display: block;
  					}
  					.testimonials-tabs>label {
						text-align: center;
						vertical-align: middle;
						margin: 0 2.5px;
						cursor: pointer;
						position: relative;
						display: inline-block;
						border-radius: 50%;
						width: 17px;
						height: 17px;
						border: 1px solid #e6e6e6;
  					}
  					.testimonials-tabs>label:not(:first-of-type) {
  					  	border-left: none;
  					}
		  			.testimonials-tabs>input[type="radio"]:checked+label {
						background-image: linear-gradient(0.0deg, #454545 0%, #6a6a6a 100%);
						border: 3px solid #e6e6e6;
		  			}	
			.blog{
				margin-left: 45px;
				margin-top: 132px;
				height: 267px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				}
				.blog h4{
					font-family: 'League Gothic';
					font-size: 30px;
					line-height: 24px;
					font-weight: 400;
					text-shadow: 0px 1px 0px #ffffff;
					color: #454545;					
				}
				.blog a{
					font-family: 'League Gothic';
					font-size: 18px;
					line-height: 24px;
					font-weight: 400;
					text-shadow: 0px 1px 0px #ffffff;
					color: #454545;
					display: flex;
					justify-content: flex-end;	
					margin-right: 5px;			
				}
				.box{
					display: flex;
					flex-direction: row;
					align-items: center;
					}
					.box img{
						/* margin: 21px 17px 9px 0; */
						margin-right: 17px;
					}
					.box h6{
 						font-family: 'Open Sans';
 						font-size: 16px;
 						line-height: 24px;
 						font-weight: 800;
 						text-shadow: 0px 1px 0px #ffffff;
 						color: #454545;
					}
					.box p{
						padding-top: 2px;
						font-weight: 300;	
					}
	@media (min-width:769px) {
		.blog a:last-of-type{
			display: none;
		}	
	}
	@media (max-width:768px) {
		.content-center{
			width: 768px;
			}
			.testimonials{
				margin-left: 10px;
				}
				.foto{
					margin: 34px 310px 0 0;
				}
				.container{
					width: 313px;
					height: 272px;
					margin-top: 14px;
					background-image: none;
					background-color: #ffffff;
					box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.05);
					}
					.container h4{
						font-size: 24px;
						width: 92px;
						margin: 31px 0 0 40px;
					}
					.container i{
						font-size: 24px;
					}
					.container p{
						height: 140px;
						margin: 8px 20px 0 40px;
						overflow: hidden;
						hyphens: auto;
					}
				.testimonials-tabs {
					margin-top: 25px;
				}
			.blog{
				margin-left: 60px;
				}
				.blog a:first-of-type{
					display: none;
				}
				.blog a:last-of-type{
					margin: 0;
				}	
					.box h6{
						width: 258px;
						height: 48px;
						overflow: hidden;
						hyphens: auto;
					}
	}
	@media (max-width:480px) {
		.flex-center{
			height: 787px;
			}
			.content-center{
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				width: 480px;
				/* margin-left: 20px; */
				}
				.testimonials{
					margin-top: 50px;
					margin-left: 35px;
					}
					.foto{
						margin-right: 410px;
					}
					.container{
						height: 273px;
						width: 417px;
					}
					.container h4{
						width: 220px;
						margin-left: 40px;
						font-size: 28px;
					}
					.container p{
						width: 348px;
						height: 163px;
						margin: 20px 0 0 40px;
					}
					.container i{
						font-size: 28px;
					}
				.blog{
					margin-top: 50px;
					margin-right: 26px;
				}
	}
	@media (max-width: 320px) {
		.flex-center{
			height: 787px;
			}
			.content-center{
				flex-direction: column;
				align-items: flex-start;
				width: 320px;
				}
				.testimonials{
					margin-top: 60px;
					}
					.foto{
						margin-right: 255px;
					}
					.container{
						width: 256px;
						height: 272px;
						box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.05);						
						}
						.container h4{
							font-size: 24px;
							width: 87px;
							height: 43px;
							margin: 27px 0 0 35px;
						}
						.container i{
							font-size: 24px;
						}
						.container p{
							width: 187px;
							height: 165px;
							margin: 13px 0 0 38px;
						}
				.blog{
					margin-top: 50px;
					margin-left: 10px;
					}
					.box h6{
						width: 215px;
						/* line-height: 14px;
						height: 76px; */
						margin: 0;
						white-space: nowrap;
						/* overflow: hidden;
						hyphens: auto; */
					
					}
					.box p{
						width: 215px;
						/* height: 16px; */
						margin: 0;
					}
	}
	.content-logos{
		height: 120px;
		width:100%;
		border-top: 1px solid #e6e6e6;
		border-bottom: 1px solid #d8d8d8;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	@media (max-width:480px) {
		.content-logos{
			height: 233px;
		}
	}
	@media (max-width:320px) {
		.content-logos{
			height: 423px;
		}
	}
	.footer{
		height: 511px;
		width: 100%;
		background-color: #ececec;
		display: flex;
		flex-direction: column;
		/* justify-content: center; */
		align-items: center;
		}
		.footer-inform{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			height: 396px;
			width: 960px;
			/* margin-top: 100px; */
			}
			.inform-left,
			.inform-center, 
			.inform-right {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 203px;
				}
				.inform-left h2{
					font-family: 'League Gothic';
					font-size: 48px;
					line-height: 33px;
					font-weight: 400;
					text-shadow: 0px 1px 0px #ffffff;
					color: #454545;
					display: inline-flex;
				}
				.inform-left i{
					font-family: 'League Gothic';
					font-size: 48px;
					line-height: 33px;
					font-weight: 400;
					text-shadow: 0px 1px 0px #ffffff;
					color: #b9b9b9;
				}
				.inform-left h6{
					font-family: Georgia;
					font-size: 16px;
					line-height: 24px;
					font-weight: 400;
					font-style: italic;
					text-shadow: 0px 1px 0px #ffffff;
					color: #c5c5c5;
					margin: 20px 0 12px 0;
				}
				.inform-left h5,
				.inform-center h5,
				.inform-right h5{
					font-family: 'League Gothic';
					font-size: 24px;
					line-height: 24px;
					font-weight: 400;
					text-shadow: 0px 1px 0px #ffffff;
					color: #454545;
				}
				.inform-left p,
				.inform-center p,
				.inform-right p{
					font-family: 'Open Sans';
					font-size: 16px;
					line-height: 24px;
					font-weight: 300;
					text-shadow: 0px 1px 0px #ffffff;
					color: #787878;
					width: 280px;
				}
			.inform-center{
				/* margin: 0 63px 0 62px; */
				}
				.inform-center h4,
				.inform-right h4{
					font-family: 'League Gothic';
					font-size: 30px;
					line-height: 24px;
					font-weight: 400;
					text-shadow: 0px 1px 0px #ffffff;
					color: #454545;
					margin-bottom: 18px;
				}
		.footer-nav{
			width: 100%;
			height: 114px;
			background-image: url(../images/bg_copy_460.png);
			background-repeat: no-repeat;
			background-position: center;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			}
			.footer-nav .header-main{
				width: 528px;
				margin-right: 290px;
			}
			.footer-nav .header-main a{
				font-family: 'League Gothic';
				font-size: 20px;
				line-height: 33px;
				font-weight: 400;
				text-transform: uppercase;
				text-shadow: 1px 2px 2px rgba(0,0,0,0.4);
				color: #ffffff;
				cursor: pointer;
				}
				.footer-nav .header-main a:hover:after,
				.footer-nav .header-main a:focus:after {
					width: 0; 
				}
			.designed a{
				font-family: 'Open Sans';
				font-size: 12px;
				line-height: 33px;
				font-weight: 300;
				text-shadow: 1px 2px 2px rgba(0,0,0,0.4);
				color: #ffffff;
				}
				.designed i{
					font-weight: 800;
				}
	@media (min-width:769px) {
		.inform-left h5,
		.inform-center h5,
		.inform-right h5{
			display: none;
		}
	}
	@media (max-width:768px) {
		.footer{
			height: 597px;
			/* width: 768px; */
			}
			.footer-inform{
				width: 768px;
				justify-content: center;
				margin-top: 5px;
				}
				.inform-center h4,
				.inform-right h4{
					display: none;
				}
				.inform-left p,
				.inform-center p,
				.inform-right p{
					width: 206px;
					height: 170px;
					overflow: hidden;
					hyphens: auto;
				}
				.inform-left h2,
				.inform-left h6{
					display: none;
				}
				.inform-center{
					margin: 0 50px;
				}
			.footer-nav{
				height: 201px;
				background-image: url(../images/layer_24_768.png);
				flex-direction: column;
				justify-content: flex-start;
				}
				.footer-nav .header-main{
					width: 530px;
					align-self: flex-start;
					margin: 40px 0 0 20px;
				}
				.designed{
					align-self: flex-end;
					margin: 19px 21px 0 0;
				}
	}
	@media (max-width:480px) {
		.footer{
			height: 871px;
			}
			.footer-inform{
				flex-direction: column;
				justify-content: space-evenly;
				height: 670px;
				}
				.inform-left,
				.inform-center, 
				.inform-right {
					height: 128px;
					width: 440px;
				}
				.inform-left p,
				.inform-center p,
				.inform-right p{
					width: 440px;
					height: 100px;
				}
			.footer-nav{
				height: 201px;
				/* background-image: url(../images/layer_24_768.png); */
				flex-direction: column;
				justify-content: space-between;
				}
				.footer-nav .header-main{
					width: 438px;
					/* margin: 40px 0 0 20px; */
				}
				.designed{
					align-self: center;
					margin-bottom: 85px;
				}
	}
	@media (max-width:480px){
		.footer{
			height: 201px;
			}
			.footer-inform{
				display: none;
			}
			.footer-nav>.header-main{
				display: none;
				}
				.designed{
					margin-top: 35px;
				}
	}