
.title{
    color: black;
    font-family: Tahoma;
    text-align: center;
    text-transform: uppercase;
}

.img{
    display: block;
    margin: 20px auto;
}

.comment{
    color: grey;
    font-family: Tahoma;
    text-transform: none;
    width: 500px;
    margin: auto;
}

.item{
    color: black;
    font-family: Tahoma;
    width: 500px;
    margin: auto;   
    text-transform: none;
}

.menu{
    color: rgb(26, 25, 25);
    font-size: 14px;
    font-family: cursive;
    width: 500px;
    margin: auto;
}

.tell{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    text-transform: none;
    width: 400px;
    margin: 20px auto;
}

.link{
    color: blue;
    font-size: 14px;
    width: 400px;
    margin: 20px auto;
}

hr{
    color: grey;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;
    margin: 20px auto;
}
