@font-face {
   font-family: "Bebas Neue";
   src:url(../fonts/BebasNeue\ Bold.ttf);
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: "Circe";
   src:url(../fonts/CRC35.otf);
   font-weight: 300;
   font-style: normal;
}
@font-face {
   font-family: "Circe";
   src:url(../fonts/Circe-Regular.ttf);
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "Circe";
   src:url(../fonts/CRC65.otf);
   font-weight: 700;
   font-style: normal;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
   font-family: Tahoma, Arial, sans-serif;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a{
	text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.relative{
   position: relative;
}
.absolute{
   position: absolute;
}
.subtitle{
   font-family: 'Bebas Neue';
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   line-height: 36px;
   text-align: center;
   color: #051244;
}



.img-first-blok{
   height: 441px;
   width: 543px;
}
@media (max-width:991px) {
   .sbg-left::after {
      display: none;
   }
}
.sbg-left::before{
   content:'';
   background: url(../images/sbg-1-top-left.svg) no-repeat center;
   width: 335px;
   height: 307px;
   right: 45%;
   top: -12%;
   position: absolute;
   z-index: -1;
}
.sbg-left::after{
   content:'';
   background: url(../images/sbg-1-bottom-right.svg) no-repeat center;
   width: 265px;
   height: 120px;
   right: -1%;
   bottom: -15%;
   position: absolute;
}
.sbg-right{
   margin-top: 50px;
}
.sbg-right::before{
   content:'';
   background: url(../images/sbg-1-top-center.svg) no-repeat center;
   width: 71px;
   height: 71px;
   left: 20%;
   top: -15%;
   position: absolute;
}
@media (max-width:767px) {
   .section2:after,
   .sbg-right::after{
      display: none;
   }
}
.sbg-right::after{
   content:'';
   background: url(../images/sbg-1-top-right.svg) no-repeat center;
   width: 346px;
   height: 307px;
   right: -8%;
   top: -45%;
   position: absolute;
   z-index: -1;
}
@media (max-width:850px) {
   .sbg-right::after{
      right: 5%;
   }
}
.logo_header{
   width: 57px;
   height: 57px;
}
.p-lite{
   font-family: 'Circe';
   font-style: normal;
   font-weight: 300;
   font-size: 18px;
   line-height: 27px;
   color: #000000;
}
.title1{
   font-family: 'Bebas Neue';
   font-style: normal;
   font-weight: 700;
   font-size: 64px;
   line-height: 64px;
   color: rgba(5, 18, 68, 0.88);
   display: inline-block;
}
.btn{
   font-family: 'Circe';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 35px;
   text-align: center;
   color: #000000;
   background-color: rgba(255, 210, 0, 1);
   padding: 14px 40px;
   border: none;
   border-radius: 0;
   filter: drop-shadow(0px 4px 7px rgba(81, 79, 79, 0.47));
}
.btn:hover{
   transform: scale(0.9);
}



.section2:before {
   content:'';
   background: url(../images/sbg-2-top-left.svg) no-repeat center;
   width: 154px;
   height: 154px;
   left: 6%;
   top: -8%;
   position: absolute;
}
.section2:after {
   content:'';
   background: url(../images/sbg-2-top-right.svg) no-repeat center;
   width: 254px;
   height: 144px;
   right: 5.3%;
   top: -16%;
   position: absolute;
   z-index: -1;
}

.vector-b-ground-1>svg{
   width: 763px;
   height: 123px;
   position: relative;
}
.p-normal{
   font-family: 'Circe';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   color: #514F4F;
   max-width: 866px;
}
.section2 .subtitle{
   text-align: center;
   color: #051244;
   max-width: 667px;
}
.section2 .btn{
   background: #FFD200;
}

.section2 .row:nth-of-type(3):before{
   content:'';
   background: url(../images/sbg-2-bottom-left.svg) no-repeat center;
   width: 119px;
   height: 122px;
   left: 2%;
   bottom: 0;
   position: absolute;
   z-index: -1;
}
.section2 .row:nth-of-type(3):after{
   content:'';
   background: url(../images/sbg-2-bottom-right.svg) no-repeat center;
   width: 212px;
   height: 212px;
   right: -5%;
   bottom: -60%;
   position: absolute;
   z-index: -1;
}

/* .css-wrap{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
} */
.css-wrap .p-lite{
   line-height: 21px;
   color: #514F4F;
   padding: 17px 0px;
}
/* .css-wrap p:nth-child(7),
.css-wrap p:nth-child(8),
.css-wrap p:nth-child(9){
   padding-bottom: 0;
} */
.checkbox::before{
   content:'';
   background: url(../images/checkbox.svg) no-repeat center;
   width: 19px;
   height: 16px;
   left: -20px;
   top: 20px;
   position: absolute;
}



.section3{
   background: #F0EEF2;
   max-height: 524px;
}
.vector-b-ground-2>svg{
   width: 405px;
   height: 92px;
   position: relative;
}
.section3:before {
   content:'';
   background: url(../images/sbg-3-left.svg) no-repeat center;
   width: 115px;
   height: 132px;
   right: 90%;
   top: 10%;
   position: absolute;
}
@media (max-width:1000px) {
   .section3:before{
      display: none;
   }
}
.section3:after {
   content:'';
   background: url(../images/sbg-3-right.svg) no-repeat center;
   height: 115px;
   width: 149px;
   right: 8.5%;
   bottom: -3.2%;
   position: absolute;
}
@media (max-width:767px) {
   .section2 .row:nth-of-type(3)::after,
   .section2:after,
   .section3:after{
      display: none;
   }
   .p-normal{
      text-align: start;
      padding: 0 0 0 20px;
      width: 100%;
   }
}
.anna-1{
   margin-top: -16px;
   width: 214px;
   height: 539px;
   text-align: center;
}
.section3 .subtitle{
   text-align: left;
   max-width: 724px;
}
.section3 .p-lite{
   line-height: 19px;
   color: #514F4F;
   max-width: 656px;
}
.section3 .btn{
   background: #FFD200;
}



.vector-b-ground-3>svg{
   width: 611px;
   height: 118px;
   position: relative;
}
.my-flex1{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-evenly;
}

.background-svg{
   background: url(../images/background-svg.svg) no-repeat center;
   background-size: 100%;
   max-width: 558px;
   min-height: 496px;
   padding: 8% 5% 8% 7%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-evenly;
}
.background-svg .p-lite{
   line-height: 19px;
   color: #514F4F;
}
.subtitle{
   text-align: left;
}
.subtitle-items{
   font-family: 'Circe';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 24px;   
   color: #514F4F;
}

.section4 .btn{
   background: #FFD200;
   border: none;
   border-radius: 9px;
}


.vector-b-ground-4>svg{
   width: 736px;
   height: 147px;
   position: relative;
}
.section5 .subtitle{
   text-align: center;
   max-width: 956px;
}
.section5:before {
   content:'';
   background: url(../images/sbg5.svg) no-repeat center;
   width: 274px;
   height: 258px;
   position: absolute;
   left: 1%;
   bottom: 0;
}

.b-ground-column{
   width: 492px;
   height: 729px;
   background: #FCDCDC;
}
.section5 .btn{
   background: #FFD200;
}

.vector-b-ground-5>svg{
   width: 823px;
   height: 121px;
}
.section6 .subtitle{
   text-align: center;
}
.section6 ul {
   list-style: square url(../images/ul-style.svg) outside;
 }
 .section6 .p-lite{
   line-height: 30px;
   color: #514F4F;
}
.section6 .btn{
   background: #FFD200;
}


.section7 .subtitle{
   text-align: center;
}
.section7 .subtitle:nth-of-type(2){
   text-align: center;
   max-width: 703px;
}
.section7 .subtitle-items{
   font-family: 'Bebas Neue';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 24px;
   color: #1F232F;
}

.section7 ul {
   list-style: square url(../images/ul-style2.svg) outside;
}

.section7 .p-lite{
   line-height: 20px;
   color: #514F4F;
   padding-bottom: 10px;
}
.anna-2{
   width: 556px;
   height: 654px;
   z-index: 1000;
}
.section7:before {
   content:'';
   background: url(../images/sbg.svg) no-repeat center;
   width: 378px;
   height: 698px;
   position: absolute;
   right: 0;
   top: -160px;
   z-index: -1;
}

.video{
   height: 345px;
   width: 658px;
   display: inline-block;
}

.carousel-indicators [data-bs-target] {
   box-sizing: content-box;
   flex: 0 1 auto;
   width: 14px;
   height: 14px;
   padding: 0;
   margin-right: 30px;
   margin-left: 30px;
   text-indent: -999px;
   cursor: pointer;
   background-color:#051244;
   background-clip: padding-box;
   border: 0;
   border-radius: 14px;
   transition: opacity .6s ease;
}
.carousel-indicators {
   position: absolute;
   right: 0;
   bottom: -70px;
   left: 0;
   z-index: 2;
   display: flex;
   justify-content: center;
   padding: 0;
   margin-right: 0;
   margin-bottom: 1rem;
   margin-left: 0;
   list-style: none;
}

.tv-logo{
   width: 650px;
   height: 100px;
}
.carousel-control-prev-icon{
   background-image: url(../images/prev-icon.svg);
}
.carousel-control-next-icon{
   background-image: url(../images/next-icon.svg);
}

.section8 .subtitle-items{
   text-align: center;
}

footer{
   background: #FCDCDC;
}
footer .container>.row{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   padding: 40px 0;
}
footer .col-md-6{
   padding: 10px;
}

footer .logotype{
   cursor: pointer;
}
footer .p-normal{
   line-height: 22px;
   color: #000000;
   display: inline-block;
}
.footer-logo-massenger{
   margin: 0 10px;
}
.footer-logo-massenger svg{
   width: 30px;
   height: 30px;
}
.footer-logo-bank svg{
   width: 50px;
   height: 40px;
}
@media (max-width:767px) {
   .subtitle{
      font-size: 30px;
      line-height: 30px;
   }
   .btn{
      font-size: 22px;
      line-height: 30px;
   }
   .sbg-right{
      margin-top: 20px;
   }
}
@media (max-width:575px) {
   .img-first-blok,
   .sbg-left::before,
   .sbg-left::after,
   .sbg-right::before,
   .sbg-right::after,
   .section2:before,
   .section2:after,
   .section2 .row:nth-of-type(3)::before,
   .section2 .row:nth-of-type(3)::after,
   .section3:before,
   .section3:after,
   .section5:before,
   .section7:before,
   .anna-1,
   .anna-2,
   .section7 .row:nth-of-type(3){
      display: none;
   }
   .sbg-right{
      margin-top: 0px;
   }
   footer .p-normal{
      padding: 0;
   }
   .section6 img{
      max-width: 320px;
   }
   .subtitle{
      font-size: 28px;
      line-height: 28px;
   }
   .btn{
      font-size: 20px;
      line-height: 26px;
   }
   .section3 .col-12{
      display: flex;
      flex-direction: column;
   }
}
@media (min-width:576px) and (max-width:767px) {
   .background-svg{
      min-height: 380px;
   }
}
@media (min-width:480px) and (max-width:575px) {
   .background-svg{
      padding: 20% 10% 12% 12%;
   }
}
@media (min-width:320px) and (max-width:479px) {
   .background-svg{
      min-height: 280px;
      padding: 14% 7% 5% 10%;
   }
   .subtitle{
      font-size: 16px;
   }
   .subtitle-items{
      font-size: 18px;
      line-height: 18px;
   }
   .p-lite{
      font-size: 14px;
      line-height: 20px;
   }
   .p-normal{
      font-size: 16px;
      line-height: 20px;
   }
}
@media (min-width:1px) and (max-width:575px) {
   .my-flex1{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

}
